body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    background: #000;
    background-image: url(../img/bg1.jpg);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    min-height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
}
.p {
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #6AB4B3;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #12349F;
    background: #fff;
}
label {
    color: #12349F;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
input {
    color: #12349F;
    width: 100%;
    padding: 10px;
    margin: 0 10px;
    border-radius: 10px;
    font-size: 15px;
}
button {
    color: #fff;
    border-radius: 15px;
    background: #12349F!important;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    padding: 15px 35px;
    margin: 0 10px;
    transition: ease-in-out 0.3s;
}
button:hover {
    background: #12349F!important;
    color: #fff!important;
}
.row {
    display: flex;
    margin: 0 -15px;
}
.m1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.auto {
    margin: 0 auto;
}
.border {
    border: 1px solid #6AB4B3;
    padding: 5px;
}
.center {
    display: flex;
    justify-content: center;
    align-content: center;
}
.justifyspacebetween {
    display: flex;
    justify-content: space-between;
}
.col {
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;margin: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 50vw;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border: 5px solid #12349F;
    border-radius: 15px;
}
header {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

.nav {
    justify-content: center;
    align-items: center;
}
.nav button {
    margin: 0 5px;
    border-radius: 15px;
    font-size: 15px;
}
/*** CLOCK ***/

.clock {
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    color: #12349F;
}
/*** TIMER ***/

.message {
    color: #fff; background: rgba(0, 0, 0, 0.8); 
    font-size: 40px;    
    margin: auto;
    min-width: 80%;
    min-height: 80%;
    max-width: 1200px;
    padding: 20px;
}
.timer {
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    color: #12349F;
}
#startStop, #reset {
    margin: 0 5px;
}
/*** ALARM ***/

#alarmDisplay {
    color: #12349F;
    text-align: center;
}
.date {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #fff
}

.horloge {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #12349F;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 1rem auto;
    width: 100%;
    max-width: 1200px;
}
input#alarmTime {
    width: 50%;
    border: 1px solid #12349F;
    color: #12349F;
    padding: 10px;
    margin: 0 auto;
    border-radius: 15px;
    font-size: 15px;
}

#alarmMessage {
    font-size: 30px;
    font-weight: 700;
    color: #12349F;
    background: #fff;
}
.alarmButton {
    margin: 1rem;
    width: auto;
}
    /*** POPUP ***/

div#popup {
    display: none;
    color: #fff!important;
    font-size: 3rem;
    margin: auto;
    background: rgba(18, 51, 159, 0.8);
    position: absolute;
    width: 75%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 300px;
    border-radius: 15px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    float: center;
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #12349F;
    text-decoration: none;
    cursor: pointer;
}
/*** CHRONO ***/
#tourList {
    display: none;
}
#tourList li {
    text-align: center;
    list-style: none;
    font-size: 20px;
    font-weight: 700;
    color: #12349F;
}