body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: #fff;
    background-image: url(../img/bg1.jpg);
    color: #12349F;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.p {
    font-size: 20px;
    text-transform: uppercase;
    color: rgba(18, 51, 159, 0.8);
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #12349F;
}
label {
    color: #12349F;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
input {
    text-align: center;
    color: #12349F;
    width: 60%;
    padding: 10px;
    margin: 0 auto;
    font-size: 20px;
}
.gap {
    margin: 0 1rem;
}
input[type=number]::-webkit-inner-spin-button {
    cursor: pointer;
    display: block;
    width: 20px;
    text-align: center;
    position: relative;
    background: transparent;
}
button {
    color: #fff!important;
    border-radius: 15px;
    background: #12349F!important;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    padding: 15px 35px;
    margin: 0 10px;
    transition: ease-in-out 0.3s;
}
button:hover {
    background: #fff!important;
    color: #12349F!important;
}
.row {
    display: flex;
}
.m1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.auto {
    margin: 0 auto;
}
.border {
    border: 1px solid #12349F;
    padding: 5px;
}
.center {
    display: flex;
    justify-content: center;
    align-content: center;
}
.col {
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 60%;
    min-height: 60vh;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border: 10px solid #12349F;
    border-radius: 20px;
}

header {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: 1rem auto;
    padding: 20px;
}
button.btn.active {
    background: #fff!important;
    color: #12349F!important;
}
nav {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: 0 auto;
}
nav ul {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}
/*** CLOCK ***/

.clock {
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    color: #12349F;
}
.dateDisplay {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #12349F;
}
/*** TIMER ***/

.message {
    color: #fff; background: rgba(0, 0, 0, 0.8); 
    font-size: 40px;    
    margin: auto;
    min-width: 80%;
    min-height: 80%;
    max-width: 1200px;
    padding: 20px;
}
.timer {
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    color: #12349F;
}
#startStop, #reset {
    margin: 0 auto;
}
/*** ALARM ***/

#alarmDisplay {
    color: #12349F;
    text-align: center;
}
.date {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #fff
}

.horloge {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #12349F;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
}
#alarmMessage {
    font-size: 20px;
    font-weight: 700;
    color: #12349F;
    border: 1px solid #12349F;
    background: #fff;
}
.alarmButton {
    margin: 1rem;
    width: auto;
}
    /*** POPUP ***/

div#popup {
    display: none;
    color: #fff!important;
    font-size: 3rem;
    margin: auto;
    background: rgba(18, 51, 159, 0.8);
    position: absolute;
    width: 70%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 10%;
    border-radius: 15px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    float: center;
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #12349F;
    text-decoration: none;
    cursor: pointer;
}
/*** CHRONO ***/

#tourList {
    display: none;
}
#tourList li {
    text-align: center;
    list-style: none;
    font-size: 20px;
    font-weight: 700;
    color: #12349F;
}
footer {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #12349F;
    width: 100%;
    margin: 1rem auto;
    padding: 20px;
}

/*** MEDIA QUERIES ***/

@media screen AND (max-width: 768px) {
    .container {
        width: 60%;
    }
    button {
        color: #fff!important;
        border-radius: 15px;
        background: #12349F!important;
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase;
        padding: 5px 10px;
        margin: 0 10px;
        transition: ease-in-out 0.3s;
    }
    .p {
        font-size: 13px;
        text-transform: uppercase;
        color: rgba(18, 51, 159, 0.8);
    }
    header {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        margin: 1rem auto;
        padding: 0px;
    }
    nav {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        margin: 0 auto;
    }
    nav ul {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 90%;
        margin: 0 auto;
        padding: 10px;
    }
    .clock {
        text-align: center;
        font-size: 35px;
        font-weight: 700;
        color: #12349F;
    }
    .timer {
        text-align: center;
        font-size: 35px;
        font-weight: 700;
        color: #12349F;
    }
    div#popup {
        display: none;
        color: #fff!important;
        font-size: 2rem;
        margin: auto;
        background: rgba(18, 51, 159, 0.8);
        position: absolute;
        width: 80%;
        height: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding-top: 10%;
        border-radius: 15px;
    }
}